//COLORS//
$color-primary: #404985;
$color-primary-light: #525a96;
$color-primary-dark: #313975;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//GRID//
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
