.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  @include respond(tab-port) {
    height: 10vh;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);

    @include respond(tab-port) {
      transform: translate(-50%, 50%) scale(1);
    }

    @include respond(phone) {
      transform: translate(-50%, 10%) scale(1);
    }
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__content {
    @include absCenter;

    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;
  }

  &__left {
    width: 33.33333333%;
    display: table-cell;

    @include respond(tab-port) {
      width: 0;
      display: none;
    }
  }

  &__right {
    width: 66.666666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-port) {
      width: 0;
      margin: 0;
      text-align: center;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(tab-port) {
      width: 0;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    @include respond(tab-port) {
      -moz-column-count: 1;
      -moz-column-gap: 0;
      -moz-column-rule: none;

      column-count: 1;
      column-gap: 0;
      column-rule: none;
    }
  }
}
